main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin-top: 1em;
}

main #asideContent {
  width: 20%;
}

main #asideContent h4 {
  font-weight: 500;
  margin-bottom: 5px;
}

main #asideContent form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #asideContent form label {
  font-size: 14px;
}

main #centerContent {
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, auto))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2em;
}

main #centerContent #cardProduct {
  display: none;
}

main #centerContent #cardProduct:nth-child(1),
main #centerContent #cardProduct:nth-child(2),
main #centerContent #cardProduct:nth-child(3),
main #centerContent #cardProduct:nth-child(4),
main #centerContent #cardProduct:nth-child(5),
main #centerContent #cardProduct:nth-child(6),
main #centerContent #cardProduct:nth-child(7),
main #centerContent #cardProduct:nth-child(8) {
  display: inline-block;
}

main #centerContent #productCard {
  width: 200px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.3em;
}

main #centerContent #productCard div {
  width: 200px;
  height: 250px;
}

main #centerContent #productCard div img {
  width: 200px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

main #centerContent #productCard h3 {
  font-weight: 400;
  font-size: 13px;
}

main #centerContent #productCard p {
  font-size: 14px;
  font-weight: bold;
}

main #centerContent #productCard span {
  font-size: 12px;
}

main #centerContent #productCard button {
  background-color: #000000;
  color: white;
  font-weight: bold;
  border: none;
  width: 100%;
  height: 2.5em;
  cursor: pointer;
  margin-top: 5px;
}

@media only screen and (max-width: 685px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main #asideContent,
  main #centerContent {
    width: 100%;
  }
  main #asideContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 500px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 70%;
  }
  main #asideContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  main #asideContent form {
    width: 100%;
  }
  main #asideContent h4::before {
    width: 20%;
    content: '+';
    font-size: 25px;
    position: absolute;
    right: 4px;
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
    cursor: pointer;
  }
  main #asideContent .formAside .filterContent {
    position: relative;
    height: 0;
    overflow: hidden;
    overflow-y: auto;
  }
  main #asideContent .formAside.active .filterContent {
    -webkit-transition: 0.7s;
    transition: 0.7s;
    height: 50%;
  }
  main #asideContent .formAside.active h4::before {
    content: "-";
  }
}
/*# sourceMappingURL=main.css.map */